mixin contain()
  div(class="max-w-screen-sm mx-auto")&attributes(attributes)
    block

mixin background(value)
  - value = (CDN || '') + value
  if value.startsWith('http') || value.startsWith('.')
    - var style = `background-image: url('${value}')`;
  else
    - var style = `background-color: ${value}`;
  div(style="" + style)&attributes(attributes)
    block

mixin link(href, newPage = false)
  a(href=href target=newPage ? "_blank" : false)&attributes(attributes)
    block

mixin img(src, alt="image not found")
  if !src.startsWith('http')
    - src = (CDN || '')+src
  img(src=src alt=alt)&attributes(attributes)

mixin icon(src, size="20px", alt="image not found")
  - var style = `width: ${size};height ${size}`;
  if !src.startsWith('http')
    - src = (CDN || '')+src
  img(src=src alt=alt style="" + style)

mixin table
  table(border="0" cellspacing="0" cellpadding="0")&attributes(attributes)
    block